@import "./variables.css";

@font-face {
	font-family: "primary";
	src: url(../public/fonts/Gotham-Light.ttf);
}

@font-face {
	font-family: "primary-light";
	src: url(../public/fonts/Lato);
}

@font-face {
	font-family: "primary-normal";
	src: url(../public/fonts/Anton/Anton-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.body {
	width: 1728px;
}

.header {
	font-family: primary-light;
	background: var(--primary-bg);
	border: var(--primary-border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem;
	font-size: .9rem;
	font-weight: 400;
	width: 1728px;
}

.nav {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 5rem;
}

.button {
	background: #E9DFFC;
	color: #784DC7;
	padding: .8rem 2rem;
	border-radius: .3rem;
	border: none;
}

.main {
	display: grid;
	grid-template: auto auto auto/1fr;
	background-color: var(--primary-bg);
	width: 1728px;

}

.wrapper__tittle {
	width: 1728px;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: auto auto auto;
	padding-top: 100px;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #292929;
}

.vintage1 {
	height: 945px;
	display: grid;
	align-items: flex-end;
}

.vintage2 {
	height: 945px;
	display: grid;
}

.title__main {
	font-size: 90px;
	text-transform: uppercase;
	color: #925FF0;
	font-family: primary-normal;
	justify-content: center;
	align-items: center;
}

.history__autor__wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding-left: 80px;
	padding-top: 40px;
	border-bottom: 1px solid #292929;
}

.history__autor {
	width: 625px;
	display: grid;
	grid-template: 1fr/1fr;
	justify-content: center;
	align-items: center;

}

.name__autor {
	font-family: primary-normal;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	color: #292929;
	text-transform: uppercase;
}

.line {
	background-color: #A87FF3;
	width: 90px;
	height: 42px;
}

.history__autor__text {
	font-family: primary;
	font-weight: 400;
	font-size: 16px;
	align-items: center;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	margin-top: 60px;
}

p {
	margin-top: 20px;
}

.photo__autor {
	display: grid;
	justify-self: end;
	margin-right: 116px;
}

.photo {	
	width: 640px;
	display: grid;

}

.line__history {
	background-color: #A87FF3;
	width: 110px;
	height: 42px;
}

.history__autor__main__2 {
	width: 625px;
	display: grid;
	justify-self: end;
	margin-right: 116px;
}

.footer {
	height: 116px;
	background-color: #292929;
}