@import "./variables.css";

@font-face {
	font-family: "primary";
	src: url(../public/fonts/Gotham-Thin.ttf);
}

@font-face {
	font-family: "primary-light";
	src: url(../public/fonts/Lato);
}

@font-face {
	font-family: "primary-normal";
	src: url(../public/fonts/Anton/Anton-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.body {
	width: 100%;
}

.header {
	font-family: primary-light;
	background: var(--primary-bg);
	border: var(--primary-border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem;
	font-size: .9rem;
	font-weight: 400;
}

.nav {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 5rem;
}

.button {
	background: #E9DFFC;
	color: #784DC7;
	padding: .8rem 2rem;
	border-radius: .3rem;
	border: none;
}

.main {
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr;

}

.wrapper__tittle {
	width: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: auto auto auto;

	/*align-items: center;
	justify-content: center;*/
	border-bottom: 1px solid #292929;
}

.vintage1 {
	width: 430px;
	padding-top: 110px;
	display: grid;

}

.vintage2 {
	width: 430px;
	padding-top: 100px;
	display: grid;

}

.title__main {
	font-size: 90px;

	text-transform: uppercase;
	color: #925FF0;
	font-family: primary-normal;
}